{% extends "global.twig" %}

{% block title "Article " ~ article_name %}

{% block css %}
	{{ asset("css","article") }}
{% endblock %}

{% block body %}
	<p>Bienvenue sur la page de l'article numéro {{ article_name }}</p>
	<p>Lien vers un autre article : {{ route("Article:show_article",{"article_name" : "autre article"}) }}</p>
{% endblock %}