{% extends "global.twig" %}

{% block title "Créer un article" %}

{% block css %}
	{{ asset("css","article") }}
{% endblock %}

{% block body %}
	<p class="error">{{ error_message }}</p>
	<form method="post" action="{{ route("Article:confirm_creation") }}">
		<input type="text" name="article_title" placeholder="Titre de l'article" required>
		<textarea name="article_content" placeholder="Contenu de l'article" required></textarea>
		<button>Créer l'article</button>
	</form>
{% endblock %}